{% extends 'base.html.twig' %}

{% block body %}
    <h1>Details of {{ serie.name }}</h1>

    <section>
        <article>
            <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
        </article>
        <article>
            <p>{{ serie.name }}</p>
            <p>{{ serie.genres }}</p>
            <p>{{ serie.overview }}</p>
            <p>Users rating : {{ serie.vote }}</p>
            <p>Serie status : {{ serie.status }}</p>
            <p>Aired from {{ serie.firstAirDate | date('Y-m-d') }} to {{ serie.lastAirDate | date('Y-m-d') }}</p>
            <p>{{ serie.overview | nl2br }}</p>
            {% if app.user %}
                <div>
                    <a href="{{ path('season_add', {'serieId': serie.id}) }}"><button>Add a season !</button></a>
                    <a href="{{ path('series_delete', {'id': serie.id}) }}"><button>Delete a season !</button></a>
                </div>
            {% endif %}
        </article>

        <div class="seasons">

            {% for season in serie.seasons %}
            <article>
                <div>
                    <img src="{{ asset('img/posters/seasons/' ~ season.poster) }}" alt="{{ serie.name }}">
                </div>
                <div>
                    <div># {{ season.number }}</div>
                    <div>Aired from {{ season.firstAirDate | date('Y-m-d') }}</div>
                    <div>{{ season.overview | nl2br }}</div>
                    {% if app.user %}
                        <div>
                            <a href="{{ path('season_edit', {'id': season.id}) }}"><button>Update a season !</button></a>
                            <a href="{{ path('season_delete', {'id': season.id}) }}"><button>Delete a season !</button></a>
                        </div>
                    {% endif %}
                </div>
            </article>
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block title %}
    {{ parent() }} | {{ serie.name }} details
{% endblock %}

{% block extraStyle %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
            url("{{ asset('img/backdrops/' ~ serie.backdrop) }}");
        }
    </style>
{% endblock %}

